/*-------- Fonts --------*/
$font-m: "Lato-Medium";
$font-b: "Lato-Bold";
$font-black: "Lato-Black";
$font-fs-r: "Flintstock-Regular";
$font-fs-rd: "Flintstock-Round";
$font-fs-o: "Flintstock-Oblique";
$font-fs-rd-o: "Flintstock-Round-Oblique";

@import './components/components.scss';