/*-------- Fonts --------*/
$font-l: "Gotham-Light";
$font-m: "Lato-Medium";
$font-b: "Gotham-Bold";
$font-fs-r: "Flintstock-Regular";
$font-fs-rd-o: "Flintstock-Round-Oblique";

/*-------- Colors --------*/
$green: #55B36D;
$blue: #64fffb;
$orange: #ff9500;

@import './components/components.scss';