/*-------- Fonts --------*/
/*-------- Colors --------*/
/*-------- Basic --------*/
* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "Gotham-Light";
  font-size: 14px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  outline: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 100%;
  max-width: 1493px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media (max-width: 479px) {
  .container {
    padding: 0 12px;
  }
}
/*-------- Footer --------*/
.footer {
  background-image: url(../images/footer/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 9px solid #64fffb;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 375px;
}
.footer__logo {
  width: 31%;
}

@media (max-width: 989px) {
  .footer__wrapper {
    height: 260px;
  }
  .footer__logo {
    width: 280px;
  }
}
@media (max-width: 479px) {
  .footer__wrapper {
    height: 220px;
  }
  .footer__logo {
    width: 200px;
  }
}
/*-------- Elements --------*/
/*-------- Info --------*/
.info {
  background-color: #64fffb;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
}
.info strong {
  font-family: "Gotham-Bold";
}
.info__wrapper {
  margin-left: auto;
  margin-right: auto;
}

.info--v1 {
  padding-top: 80px;
  padding-bottom: 54px;
}
.info--v1 .info__wrapper {
  max-width: 1279px;
}

.info--v2 {
  padding-top: 44px;
  padding-bottom: 44px;
  font-size: 48px;
}
.info--v2 .info__wrapper {
  max-width: 100%;
  font-family: "Flintstock-Regular";
}

@media (max-width: 989px) {
  .info {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .info {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .info {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
}
/*-------- Button --------*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  width: 240px;
  font-family: "Lato";
  font-size: 30px;
  color: #fff;
  background-color: #55B36D;
  border-radius: 10px;
  transition: background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button:hover {
  background-color: #7be095;
}

.button--orange {
  background-color: #ff9500;
}
.button--orange:hover {
  background-color: #ffb753;
}

@media (max-width: 767px) {
  .button {
    height: 50px;
    width: 160px;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .button {
    height: 45px;
    width: 140px;
    font-size: 18px;
  }
}
/*-------- Swiper --------*/
.swiper-container {
  padding-top: 84px;
  padding-bottom: 25px;
  background-image: url(../images/swiper/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-container .container {
  display: flex;
  align-items: center;
}

.swiper {
  margin-left: 70px;
  margin-right: 70px;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.swiper-slide {
  display: flex;
  align-items: center;
}

.swiper-text {
  padding-left: 102px;
  font-family: "Gotham-Bold";
  font-size: 43px;
  color: #fff;
  line-height: 1.15;
}
.swiper-text:before {
  content: "";
  display: block;
  width: 197px;
  height: 7px;
  margin-bottom: 35px;
  background-color: #64fffb;
}

.swiper-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 90px;
  height: 90px;
  color: #64fffb;
  transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.swiper-button:before {
  content: "";
  width: 50px;
  height: 50px;
  border: 8px solid currentColor;
  border-left: none;
  border-top: none;
}
.swiper-button--left:before {
  transform: rotateZ(135deg);
}
.swiper-button--right:before {
  transform: rotateZ(-45deg);
}
.swiper-button:not(.swiper-button-disabled):hover {
  color: #55B36D;
}

.swiper-button-disabled {
  opacity: 0.5;
}

@media (max-width: 1399px) {
  .swiper {
    margin-left: 30px;
    margin-right: 30px;
  }

  .swiper-text {
    padding-left: 50px;
    font-size: 35px;
  }

  .swiper-button {
    width: 75px;
    height: 75px;
  }
  .swiper-button:before {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 1099px) {
  .swiper-image {
    width: 35%;
  }

  .swiper-text {
    width: 65%;
    padding-left: 30px;
    font-size: 28px;
  }
  .swiper-text:before {
    width: 160px;
    height: 5px;
    margin-bottom: 20px;
  }
}
@media (max-width: 989px) {
  .swiper-text {
    padding-left: 20px;
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-container {
    padding-top: 40px;
  }

  .swiper-slide {
    flex-direction: column;
  }

  .swiper-image {
    width: 250px;
  }

  .swiper-text {
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
    font-size: 24px;
    text-align: center;
  }
  .swiper-text:before {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 619px) {
  .swiper-button {
    width: 30px;
    height: 30px;
  }
  .swiper-button:before {
    width: 20px;
    height: 20px;
    border-width: 4px;
  }

  .swiper-text {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .swiper-image {
    width: 180px;
  }

  .swiper-text {
    margin-top: 20px;
    font-size: 18px;
  }
  .swiper-text:before {
    width: 160px;
  }
}
/*-------- Sections --------*/
/*-------- Banner --------*/
.banner {
  background-image: url(../images/banner/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner__columns {
  display: flex;
  align-items: flex-start;
  padding-top: 89px;
  padding-bottom: 52px;
}
.banner__logo {
  width: 51%;
}
.banner__image {
  width: 49%;
  padding-left: 118px;
}

@media (max-width: 989px) {
  .banner__image {
    padding-left: 50px;
  }
}
@media (max-width: 619px) {
  .banner__columns {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
  }
  .banner__logo {
    width: 100%;
  }
  .banner__image {
    width: 80%;
    padding-left: 0;
    margin-top: 20px;
  }
}
/*-------- Columns --------*/
.columns {
  display: flex;
  align-items: center;
}
.columns__text-wrapper {
  padding-left: 95px;
  padding-right: 95px;
}
.columns__title {
  font-family: "Gotham-Bold";
  font-size: 56px;
  color: #64fffb;
}
.columns__title--orange {
  color: #ff9500;
}
.columns__text {
  margin-top: 40px;
  font-family: "Lato-Medium";
  font-size: 30px;
  line-height: 1.3;
}
.columns__text strong {
  font-family: "Gotham-Bold";
}
.columns__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.columns--reverse .columns__text-wrapper {
  padding-right: 56px;
  padding-left: 98px;
}

@media (max-width: 1399px) {
  .columns__image {
    width: 44%;
  }
  .columns__text-wrapper {
    width: 56%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .columns__title {
    font-size: 45px;
  }
  .columns__text {
    margin-top: 15px;
    font-size: 24px;
  }
  .columns__button {
    margin-top: 30px;
  }
}
@media (max-width: 1099px) {
  .columns {
    flex-direction: column;
  }
  .columns__image, .columns__text-wrapper {
    width: 100%;
  }
  .columns__text-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .columns--reverse .columns__text-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 619px) {
  .columns__text-wrapper {
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .columns__text {
    font-size: 22px;
  }
  .columns__title {
    font-size: 40px;
  }
}
@media (max-width: 479px) {
  .columns__text-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .columns__text {
    font-size: 18px;
  }
  .columns__title {
    font-size: 30px;
  }

  .columns--reverse .columns__text-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/*-------- Brands --------*/
.brands {
  padding-top: 70px;
  padding-bottom: 70px;
}
.brands__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.brands__item {
  width: 33%;
}
.brands__image {
  max-width: 100%;
}

@media (max-width: 989px) {
  .brands__item {
    width: calc(33% - 30px);
  }
}
@media (max-width: 767px) {
  .brands {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 619px) {
  .brands__list {
    flex-wrap: nowrap;
    overflow: auto;
  }
  .brands__item {
    flex-shrink: 0;
    width: auto;
  }
  .brands__item:not(:first-child) {
    margin-left: 30px;
  }
}
@media (max-width: 479px) {
  .brands {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .brands__item {
    max-width: 220px;
  }
}
/*-------- Join --------*/
.join {
  background-image: url(../images/join/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.join__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 82px;
  padding-bottom: 103px;
}
.join__title {
  font-family: "Flintstock-Regular";
  font-size: 48px;
}
.join__text {
  max-width: 938px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  font-family: "Lato-Medium";
  font-size: 30px;
  line-height: 1.3;
}
.join__button {
  margin-top: 52px;
}

@media (max-width: 767px) {
  .join__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .join__title {
    font-size: 40px;
  }
  .join__text {
    font-size: 22px;
  }
  .join__button {
    margin-top: 20px;
  }
}
@media (max-width: 479px) {
  .join__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .join__title {
    font-size: 28px;
  }
  .join__text {
    font-size: 18px;
  }
}