/*-------- App --------*/

.app {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 768px;

    position: relative;
    z-index: 2;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
    }   

    &__background {
        width: 100%;
        height: 1173px;
        position: absolute;

        background-image: url(../images/app/crowd-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        pointer-events: none;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }

    &__image {
        width: 398px;
        margin-top: 105px;
        z-index: 2;
        position: relative;
    }

    &__icon {
        width: 66%;
        margin-top: -347px;
    }

    &__title {
        font-family: $font-fs-o;
        font-size: 53.72px;
    }

    &__text {
        font-family: $font-fs-rd-o;
    }

    &__text--4 {
        font-size: 135.92px;
    }

    &__text--3 {
        fill: none;
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 3.52px;
    }
}

@media (max-width: 1479px) {

    .app {

        &__icon {
            width: 55%;
        }
    }
}

@media (max-width: 1399px) {

    .app {
        height: 695px;

        &__icon {
            width: 56%;
        }

        &__image {
            width: 357px;
        }

        &__background {
            height: 1030px;
        }
    }
}

@media (max-width: 1219px){ 

    .app {
        height: 539px;

        &__background {
            height: 841px;
        }

        &__icon {
            margin-top: -250px;
        }

        &__image {
            width: 275px;
        }
    }
}

@media (max-width: 989px) {

    .app {
        height: 385px;

        &__image {
            width: 194px;
            margin-top: 70px;
        }

        &__background {
            height: 614px;
        }

        &__icon {
            margin-top: -197px;
        }
    }
}

@media (max-width: 767px) {

    .app {
        height: 309px;

        &__background {
            height: 507px;
        }

        &__icon {
            margin-top: -171px;
        }
    }
}

@media (max-width: 619px) {

    .app {

        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__image {
            display: none;
        }

        &__icon {
            max-width: 400px;
            width: 90%;
            margin: 0;
        }
    }
}