/*-------- Banner --------*/

.banner {
    background-image: url(../images/banner/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__columns {
        display: flex;
        align-items: flex-start;
        padding-top: 89px;
        padding-bottom: 52px;
    }

    &__logo {
        width: 51%;
    }

    &__image {
        width: 49%;
        padding-left: 118px;
    }
}