/*-------- Banner --------*/

.banner {
    background-image: url(../images/banner/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__columns {
        display: flex;
        align-items: flex-start;
        padding-top: 89px;
        padding-bottom: 52px;
    }

    &__logo {
        width: 51%;
    }

    &__image {
        width: 49%;
        padding-left: 118px;
    }
}

@media (max-width: 989px) {

    .banner {

        &__image {
            padding-left: 50px;
        }
    }
}

@media (max-width: 619px) {

    .banner {

        &__columns {
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            flex-direction: column;
        }

        &__logo {
            width: 100%;
        }

        &__image {
            width: 80%;
            padding-left: 0;
            margin-top: 20px;
        }
    }
}