/*-------- Footer --------*/

.footer {
    background-image: url(../images/footer/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-top: 9px solid $blue;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 375px;
    }

    &__logo {
        width: 31%;
    }
}

@media (max-width: 989px) {

    .footer {

        &__wrapper {
            height: 260px;
        }

        &__logo {
            width: 280px;
        }
    }
}

@media (max-width: 479px) {

    .footer {

        &__wrapper {
            height: 220px;
        }

        &__logo {
            width: 200px;
        }
    }
}