/*-------- Footer --------*/

.footer {
    background-image: url(../images/footer/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-top: 9px solid $blue;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 375px;
    }

    &__logo {
        width: 31%;
    }
}