/*-------- Info --------*/

.info {
    background-color: $blue;

    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 1.2;

    & strong {
        font-family: $font-b;
    }

    &__wrapper {
        margin-left: auto;
        margin-right: auto;
    }
}

.info {

    &--v1 {
        padding-top: 80px;
        padding-bottom: 54px;
    }

    &--v1 &__wrapper {
        max-width: 1279px;
    }
}

.info {

    &--v2 {
        padding-top: 44px;
        padding-bottom: 44px;
        font-size: 48px;
    }

    &--v2 &__wrapper {
        max-width: 100%;

        font-family: $font-fs-r;
    }
}

@media (max-width: 989px) {

    .info {
        padding-top: 40px;
        padding-bottom: 40px;

        font-size: 28px;
    }
}

@media (max-width: 767px) {

    .info {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 22px;
    }
}

@media (max-width: 479px) {

    .info {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
    }
}